{%extends 'base.html'%}
{%load static%}
{% load humanize %}
{%block content%}
<a href="/">Back to Home</a> | <a href="{%url 'dashboard'%}">Dashboard</a> | <a href="{%url 'lenders_list'%}">Lender List</a> > Details
<br/><br/>
<!--{%if user.account.balance %} Balance ₦{{user.account.balance|intcomma}} {%else%} Balance ₦0 {%endif%}<br/>-->
    <!-- content start -->

    <div class="container">
        <h3 align="center">Are you sure you want to delete?</h3>
         <div class="row">
            <div class="col-sm-3"></div>
             <div class="col-sm-6">
                 <form method="POST">
                     {%csrf_token%}
                     <button class="btn btn-default btn-block">Yes Delete</button>
                 </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!-- /.content end -->
<br/><br/>
{%endblock%}