{%extends 'base.html'%}
{%load static%}
{% load humanize %}
{%block content%}
<a href="/">Back to Home</a> | <a href="{%url 'dashboard'%}">Dashboard</a> | <a href="{%url 'lenders_list'%}">Lender List</a> > Details
<br/><br/>
<!--{%if user.account.balance %} Balance ₦{{user.account.balance|intcomma}} {%else%} Balance ₦0 {%endif%}<br/>-->
    <!-- content start -->
<a href="{%url 'DeleteLender' lenders.pk%}">Delete</a>
    <div class="container">
        <div class="card">
            <div class="card header">
                <h2 align="center">Loan Details</h2>
            </div>
        </div>
         <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white md mb-3" id="total-orders">
                        <div class="card-header">
                            <h5 class="card-title">Pledged Amount</h5>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title"><b>₦{{lenders.amount|intcomma}}</b></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            <div class="col-md">
                <div class="card text-center text-white md mb-3" id="orders-delivered">
                    <div class="card-header">
                        <h5 class="card-title">Interest Rate</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title"><b>{{lenders.percentage}}%</b></h1>
                    </div>
                </div>
            </div>
        </div>
            <div class="col">
            <div class="col-md">
                <div class="card text-center text-white md mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Total Payback</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title"><b>₦{{lenders.total_all|intcomma}}</b></h1>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col">
                        <div class="col-md">
                            <div class="card text-center text-white md mb-3">
                                <div class="card-header">
                                    <h5 class="card-title">Duration</h5>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title"><b>{%if duration == 1%}{{lenders.duration}} Month {%else%}{{lenders.duration}} Months{%endif%}</b></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 align="center">Condition</h5>
            </div>
            <div class="card-body">
                <h3>{{lenders.conditions|safe|urlize}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
<br/>

<!--this code will check if the user is logged in-->
{%if request.user == lenders.user%}
{%else%}
    {%if request.user.exist%}
    Sorry
    {%else%}
    <div class="container">
        {% if user.is_authenticated%}
                <div class="container">
                 <form method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{apply_form.as_p}}
                    <br/>
                    <button class="btn btn-info btn-sm">Apply For Loan</button>
                </form>
                </div>
        {%else%}
            <div class="container">
            Please <a href="{%url 'login' %}">login</a> to comment on this post
            </div>
        {%endif%}
    </div>
    {%endif%}
<!--this ends the code to check if user is logged in-->
{%endif%}
<br/>
<!--this code will show all the loan applications to the lender-->
{%if request.user == lenders.user%}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 align="center">Applications</h3>
                {%if msg%}
                    {{msg}}
                {%endif%}
        </div>
    </div>
    {%if not lenders.loans.all%}
        <h2 align="center">No loan request Yet</h2>
    {%else%}
          {%for apply in lenders.loans.all%}
            {%if apply.is_parent%}
                <div class="container">
                    <table class="table table-striped table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Username</th>
                          <th scope="col">Reason(s)</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{apply.name}} {{money}} | {{apply.name.account.balance|intcomma}}</td>
                          <td>{{apply.comment}}</td>
                          <td>
                             <form method="POST" action="{%url 'ApproveLoan'%}">
                                {%csrf_token%}

                                <input type="hidden" name="borrower" value="{{apply.name}}">

                                <input type="hidden" name="amount" value="{{lenders.amount|stringformat:".0f"}}">
                                <button class="btn btn-primary">Approve</button>
                            </form>  <br/> <a href="{%url 'loandetails' apply.id%}"><button class="btn btn-info btn-sm">View Details</button></a>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            {%endif%}
        {%endfor%}
    {%endif%}
</div>
{%endif%}

<!--This ends the code that shows the applications to lender-->
<br/><br/>
{%endblock%}